## Leemos CSV, infiriendo el schema

In [1]:
df = sqlContext.read.csv('../../data/big-mac-source-data.csv', header=True, inferSchema=True)

In [2]:
df.schema

StructType(List(StructField(name,StringType,true),StructField(iso_a3,StringType,true),StructField(currency_code,StringType,true),StructField(local_price,DoubleType,true),StructField(dollar_ex,DoubleType,true),StructField(GDP_dollar,DoubleType,true),StructField(date,TimestampType,true)))

In [3]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- iso_a3: string (nullable = true)
 |-- currency_code: string (nullable = true)
 |-- local_price: double (nullable = true)
 |-- dollar_ex: double (nullable = true)
 |-- GDP_dollar: double (nullable = true)
 |-- date: timestamp (nullable = true)

### Definimos el schema a mano

In [4]:
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, TimestampType

In [5]:
Schema = StructType([ StructField("name", StringType(), True),
                      StructField("iso_a3", StringType(), True),
                      StructField("currency_code", StringType(), True),
                      StructField("local_price", DoubleType(), True),
                      StructField("dollar_ex", DoubleType(), True),
                      StructField("GDP_dollar", DoubleType(), True),
                     StructField("date", TimestampType(), True)
                    ])

In [6]:
df = sqlContext.read.csv('../../data/big-mac-source-data.csv', header=True, schema=Schema)

In [7]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- iso_a3: string (nullable = true)
 |-- currency_code: string (nullable = true)
 |-- local_price: double (nullable = true)
 |-- dollar_ex: double (nullable = true)
 |-- GDP_dollar: double (nullable = true)
 |-- date: timestamp (nullable = true)

## Información general sobre los datos

In [8]:
df.count()

1514

In [10]:
df.head(5)

[Row(name='Argentina', iso_a3='ARG', currency_code='ARS', local_price=2.5, dollar_ex=1.0, GDP_dollar=None, date=datetime.datetime(2000, 4, 1, 0, 0)),
 Row(name='Australia', iso_a3='AUS', currency_code='AUD', local_price=2.59, dollar_ex=1.68, GDP_dollar=None, date=datetime.datetime(2000, 4, 1, 0, 0)),
 Row(name='Brazil', iso_a3='BRA', currency_code='BRL', local_price=2.95, dollar_ex=1.79, GDP_dollar=None, date=datetime.datetime(2000, 4, 1, 0, 0)),
 Row(name='Britain', iso_a3='GBR', currency_code='GBP', local_price=1.9, dollar_ex=0.632911392, GDP_dollar=None, date=datetime.datetime(2000, 4, 1, 0, 0)),
 Row(name='Canada', iso_a3='CAN', currency_code='CAD', local_price=2.85, dollar_ex=1.47, GDP_dollar=None, date=datetime.datetime(2000, 4, 1, 0, 0))]

In [11]:
df.show()

+--------------+------+-------------+-----------+-----------+----------+-------------------+
|          name|iso_a3|currency_code|local_price|  dollar_ex|GDP_dollar|               date|
+--------------+------+-------------+-----------+-----------+----------+-------------------+
|     Argentina|   ARG|          ARS|        2.5|        1.0|      null|2000-04-01 00:00:00|
|     Australia|   AUS|          AUD|       2.59|       1.68|      null|2000-04-01 00:00:00|
|        Brazil|   BRA|          BRL|       2.95|       1.79|      null|2000-04-01 00:00:00|
|       Britain|   GBR|          GBP|        1.9|0.632911392|      null|2000-04-01 00:00:00|
|        Canada|   CAN|          CAD|       2.85|       1.47|      null|2000-04-01 00:00:00|
|         Chile|   CHL|          CLP|     1260.0|      514.0|      null|2000-04-01 00:00:00|
|         China|   CHN|          CNY|        9.9|       8.28|      null|2000-04-01 00:00:00|
|Czech Republic|   CZE|          CZK|      54.37|       39.1|      null|2000-04-01 00:00:00|
|       Denmark|   DNK|          DKK|      24.75|       8.04|      null|2000-04-01 00:00:00|
|     Euro area|   EUZ|          EUR|       2.56|1.075268817|      null|2000-04-01 00:00:00|
|     Hong Kong|   HKG|          HKD|       10.2|       7.79|      null|2000-04-01 00:00:00|
|       Hungary|   HUN|          HUF|      339.0|      279.0|      null|2000-04-01 00:00:00|
|     Indonesia|   IDN|          IDR|    14500.0|     7945.0|      null|2000-04-01 00:00:00|
|        Israel|   ISR|          ILS|       14.5|       4.05|      null|2000-04-01 00:00:00|
|         Japan|   JPN|          JPY|      294.0|      106.0|      null|2000-04-01 00:00:00|
|      Malaysia|   MYS|          MYR|       4.52|        3.8|      null|2000-04-01 00:00:00|
|        Mexico|   MEX|          MXN|       20.9|       9.41|      null|2000-04-01 00:00:00|
|   New Zealand|   NZL|          NZD|        3.4|       2.01|      null|2000-04-01 00:00:00|
|        Poland|   POL|          PLN|        5.5|        4.3|      null|2000-04-01 00:00:00|
|        Russia|   RUS|          RUB|       39.5|       28.5|      null|2000-04-01 00:00:00|
+--------------+------+-------------+-----------+-----------+----------+-------------------+
only showing top 20 rows

In [12]:
df.describe().show()

+-------+---------+------+-------------+------------------+-----------------+------------------+
|summary|     name|iso_a3|currency_code|       local_price|        dollar_ex|        GDP_dollar|
+-------+---------+------+-------------+------------------+-----------------+------------------+
|  count|     1514|  1514|         1514|              1514|             1514|               901|
|   mean|     null|  null|         null| 9058.013232345338| 3450.15151106356|27514.171355266484|
| stddev|     null|  null|         null|173614.45356185062|66303.78425411126|21072.286557425992|
|    min|Argentina|   ARE|          AED|               0.0|              0.0|          1049.749|
|    max|  Vietnam|   ZAF|          ZAR|         4000000.0|        1600500.0|        100578.968|
+-------+---------+------+-------------+------------------+-----------------+------------------+

In [13]:
df.summary().show()

+-------+---------+------+-------------+------------------+-----------------+------------------+
|summary|     name|iso_a3|currency_code|       local_price|        dollar_ex|        GDP_dollar|
+-------+---------+------+-------------+------------------+-----------------+------------------+
|  count|     1514|  1514|         1514|              1514|             1514|               901|
|   mean|     null|  null|         null| 9058.013232345338| 3450.15151106356|27514.171355266484|
| stddev|     null|  null|         null|173614.45356185062|66303.78425411126|21072.286557425992|
|    min|Argentina|   ARE|          AED|               0.0|              0.0|          1049.749|
|    25%|     null|  null|         null|              4.56|           1.2112|          9565.962|
|    50%|     null|  null|         null|              14.9|          5.75305|          21558.78|
|    75%|     null|  null|         null|              85.0|           33.135|         43724.031|
|    max|  Vietnam|   ZAF|          ZAR|         4000000.0|        1600500.0|        100578.968|
+-------+---------+------+-------------+------------------+-----------------+------------------+

In [14]:
df.columns

['name',
 'iso_a3',
 'currency_code',
 'local_price',
 'dollar_ex',
 'GDP_dollar',
 'date']

In [15]:
df.local_price

Column<b'local_price'>

## Agrupando y agregando

### Usando agg y un dict

In [19]:
df.groupby('name').agg({'local_price': 'max', 'dollar_ex': 'max'}).show()

+-----------+-----------------+----------------+
|       name|   max(dollar_ex)|max(local_price)|
+-----------+-----------------+----------------+
|     Russia|           74.655|           137.0|
|     Sweden|             10.4|            52.0|
|Philippines|             55.9|           163.0|
|   Malaysia|           4.4715|            9.05|
|  Singapore|             1.82|             5.8|
|    Britain|       0.82877507|            3.29|
|     Turkey|        1600500.0|       4000000.0|
|    Germany|      0.955246692|            4.14|
|     Jordan|          0.71005|             2.3|
|     France|      0.955246692|             4.2|
|     Greece|      0.955246692|            3.35|
|  Sri Lanka|          182.245|           640.0|
|     Taiwan|             34.8|            79.0|
|   Slovakia|0.892339267389462|             3.2|
|  Argentina|          41.8045|           120.0|
|    Belgium|      0.955246692|             4.2|
|      Qatar|          3.64175|            13.0|
|    Finland|      0.955246692|            4.75|
|  Nicaragua|          33.1621|           110.0|
|       Peru|             3.49|            11.0|
+-----------+-----------------+----------------+
only showing top 20 rows

### Usando las funciones para cada operación

In [17]:
df.groupby('name').mean('local_price').show()

+-----------+------------------+
|       name|  avg(local_price)|
+-----------+------------------+
|     Russia| 79.88870967741936|
|     Sweden| 39.60491358870968|
|Philippines|112.00399999999999|
|   Malaysia| 6.878709677419354|
|  Singapore| 4.442258064516129|
|    Britain|  2.51516129032258|
|     Turkey|403455.45827586204|
|    Germany|3.7529411764705882|
|     Jordan|2.0666666666666664|
|     France|3.9470588235294124|
|     Greece|3.1819411764705885|
|  Sri Lanka| 350.5769230769231|
|     Taiwan| 73.54838709677419|
|   Slovakia|3.1333333333333333|
|  Argentina|27.982580645161292|
|    Belgium| 3.900000000000001|
|      Qatar|12.333333333333334|
|    Finland| 4.227058823529412|
|  Nicaragua|105.33333333333333|
|       Peru| 9.696142857142856|
+-----------+------------------+
only showing top 20 rows

In [18]:
df.groupby('name').max('local_price').show()

+-----------+----------------+
|       name|max(local_price)|
+-----------+----------------+
|     Russia|           137.0|
|     Sweden|            52.0|
|Philippines|           163.0|
|   Malaysia|            9.05|
|  Singapore|             5.8|
|    Britain|            3.29|
|     Turkey|       4000000.0|
|    Germany|            4.14|
|     Jordan|             2.3|
|     France|             4.2|
|     Greece|            3.35|
|  Sri Lanka|           640.0|
|     Taiwan|            79.0|
|   Slovakia|             3.2|
|  Argentina|           120.0|
|    Belgium|             4.2|
|      Qatar|            13.0|
|    Finland|            4.75|
|  Nicaragua|           110.0|
|       Peru|            11.0|
+-----------+----------------+
only showing top 20 rows

### Con agg y usando las funciones de spark

In [20]:
from pyspark.sql.functions import count, avg, min, max, round

In [21]:
df.groupby('name').agg(avg('local_price'), min('local_price'), max('local_price')).show()

+-----------+------------------+----------------+----------------+
|       name|  avg(local_price)|min(local_price)|max(local_price)|
+-----------+------------------+----------------+----------------+
|     Russia| 79.88870967741936|            35.0|           137.0|
|     Sweden| 39.60491358870968|            24.0|            52.0|
|Philippines|112.00399999999999|            59.0|           163.0|
|   Malaysia| 6.878709677419354|            4.52|            9.05|
|  Singapore| 4.442258064516129|             3.2|             5.8|
|    Britain|  2.51516129032258|            1.88|            3.29|
|     Turkey|403455.45827586204|             4.0|       4000000.0|
|    Germany|3.7529411764705882|             3.4|            4.14|
|     Jordan|2.0666666666666664|            1.95|             2.3|
|     France|3.9470588235294124|             3.5|             4.2|
|     Greece|3.1819411764705885|             2.6|            3.35|
|  Sri Lanka| 350.5769230769231|           140.0|           640.0|
|     Taiwan| 73.54838709677419|            69.0|            79.0|
|   Slovakia|3.1333333333333333|             3.0|             3.2|
|  Argentina|27.982580645161292|             2.5|           120.0|
|    Belgium| 3.900000000000001|             3.7|             4.2|
|      Qatar|12.333333333333334|            12.0|            13.0|
|    Finland| 4.227058823529412|            3.75|            4.75|
|  Nicaragua|105.33333333333333|           103.0|           110.0|
|       Peru| 9.696142857142856|             7.9|            11.0|
+-----------+------------------+----------------+----------------+
only showing top 20 rows

### Con agg y usando UDF

In [22]:
from pyspark.sql.functions import pandas_udf, PandasUDFType

In [23]:
@pandas_udf('double', PandasUDFType.GROUPED_AGG)
def max_udf(v):
    return v.max()

In [24]:
df.groupby('name').agg(max_udf(df.local_price)).show()

+-----------+--------------------+
|       name|max_udf(local_price)|
+-----------+--------------------+
|     Russia|               137.0|
|     Sweden|                52.0|
|Philippines|               163.0|
|   Malaysia|                9.05|
|  Singapore|                 5.8|
|    Britain|                3.29|
|     Turkey|           4000000.0|
|    Germany|                4.14|
|     Jordan|                 2.3|
|     France|                 4.2|
|     Greece|                3.35|
|  Sri Lanka|               640.0|
|     Taiwan|                79.0|
|   Slovakia|                 3.2|
|  Argentina|               120.0|
|    Belgium|                 4.2|
|      Qatar|                13.0|
|    Finland|                4.75|
|  Nicaragua|               110.0|
|       Peru|                11.0|
+-----------+--------------------+
only showing top 20 rows

## Funciones de agregación sin grupos

In [29]:
df.groupBy().agg({ 'local_price': 'mean' }).show()

+-----------------+
| avg(local_price)|
+-----------------+
|9058.013232345338|
+-----------------+

In [26]:
df.agg({ 'local_price': 'mean' }).show()

+-----------------+
| avg(local_price)|
+-----------------+
|9058.013232345338|
+-----------------+

## Filtrando filas

In [30]:
df.filter('name = "Argentina"').count()

31

In [31]:
df.filter('name = "Argentina"').show()

+---------+------+-------------+-----------+---------+----------+-------------------+
|     name|iso_a3|currency_code|local_price|dollar_ex|GDP_dollar|               date|
+---------+------+-------------+-----------+---------+----------+-------------------+
|Argentina|   ARG|          ARS|        2.5|      1.0|      null|2000-04-01 00:00:00|
|Argentina|   ARG|          ARS|        2.5|      1.0|      null|2001-04-01 00:00:00|
|Argentina|   ARG|          ARS|        2.5|     3.13|      null|2002-04-01 00:00:00|
|Argentina|   ARG|          ARS|        4.1|     2.88|      null|2003-04-01 00:00:00|
|Argentina|   ARG|          ARS|       4.36|     2.95|      null|2004-05-01 00:00:00|
|Argentina|   ARG|          ARS|       4.75|    2.897|      null|2005-06-01 00:00:00|
|Argentina|   ARG|          ARS|       4.75|   3.0638|      null|2006-01-01 00:00:00|
|Argentina|   ARG|          ARS|        7.0|   3.0565|      null|2006-05-01 00:00:00|
|Argentina|   ARG|          ARS|       8.25|  3.08875|      null|2007-01-01 00:00:00|
|Argentina|   ARG|          ARS|       8.25|   3.0915|      null|2007-06-01 00:00:00|
|Argentina|   ARG|          ARS|       11.0|   3.0195|      null|2008-06-01 00:00:00|
|Argentina|   ARG|          ARS|       11.5|  3.81125|      null|2009-07-01 00:00:00|
|Argentina|   ARG|          ARS|        7.0|   3.7985|      null|2010-01-01 00:00:00|
|Argentina|   ARG|          ARS|       14.0|  3.93375|      null|2010-07-01 00:00:00|
|Argentina|   ARG|          ARS|       20.0|   4.1325|  9138.177|2011-07-01 00:00:00|
|Argentina|   ARG|          ARS|       20.0|   4.3135|  9138.177|2012-01-01 00:00:00|
|Argentina|   ARG|          ARS|       19.0|  4.56625|  9138.177|2012-07-01 00:00:00|
|Argentina|   ARG|          ARS|       19.0|   4.9765| 10959.082|2013-01-01 00:00:00|
|Argentina|   ARG|          ARS|       21.0|   5.4125| 10959.082|2013-07-01 00:00:00|
|Argentina|   ARG|          ARS|       21.0|  6.92125| 10959.082|2014-01-01 00:00:00|
+---------+------+-------------+-----------+---------+----------+-------------------+
only showing top 20 rows

In [32]:
df.filter(df.name == 'Argentina').count()

31

In [33]:
df.filter(df.dollar_ex > 100).show()

+-----------+------+-------------+-----------+---------+----------+-------------------+
|       name|iso_a3|currency_code|local_price|dollar_ex|GDP_dollar|               date|
+-----------+------+-------------+-----------+---------+----------+-------------------+
|      Chile|   CHL|          CLP|     1260.0|    514.0|      null|2000-04-01 00:00:00|
|    Hungary|   HUN|          HUF|      339.0|    279.0|      null|2000-04-01 00:00:00|
|  Indonesia|   IDN|          IDR|    14500.0|   7945.0|      null|2000-04-01 00:00:00|
|      Japan|   JPN|          JPY|      294.0|    106.0|      null|2000-04-01 00:00:00|
|South Korea|   KOR|          KRW|     3000.0|   1108.0|      null|2000-04-01 00:00:00|
|      Chile|   CHL|          CLP|     1260.0|    601.0|      null|2001-04-01 00:00:00|
|    Hungary|   HUN|          HUF|      399.0|    303.0|      null|2001-04-01 00:00:00|
|  Indonesia|   IDN|          IDR|    14700.0|  10855.0|      null|2001-04-01 00:00:00|
|      Japan|   JPN|          JPY|      294.0|    124.0|      null|2001-04-01 00:00:00|
|South Korea|   KOR|          KRW|     3000.0|   1325.0|      null|2001-04-01 00:00:00|
|      Chile|   CHL|          CLP|     1400.0|    655.0|      null|2002-04-01 00:00:00|
|    Hungary|   HUN|          HUF|      459.0|    272.0|      null|2002-04-01 00:00:00|
|  Indonesia|   IDN|          IDR|    16000.0|   9430.0|      null|2002-04-01 00:00:00|
|      Japan|   JPN|          JPY|      262.0|    130.0|      null|2002-04-01 00:00:00|
|South Korea|   KOR|          KRW|     3100.0|   1304.0|      null|2002-04-01 00:00:00|
|     Turkey|   TUR|          TRY|  4000000.0|1324500.0|      null|2002-04-01 00:00:00|
|  Venezuela|   VEN|          VEF|     2500.0|    857.0|      null|2002-04-01 00:00:00|
|      Chile|   CHL|          CLP|     1400.0|    716.0|      null|2003-04-01 00:00:00|
|    Hungary|   HUN|          HUF|      490.0|    224.0|      null|2003-04-01 00:00:00|
|  Indonesia|   IDN|          IDR|    16100.0|   8740.0|      null|2003-04-01 00:00:00|
+-----------+------+-------------+-----------+---------+----------+-------------------+
only showing top 20 rows

In [34]:
df.filter(df.name.isin("Argentina", "Uruguay")).show()

+---------+------+-------------+-----------+---------+----------+-------------------+
|     name|iso_a3|currency_code|local_price|dollar_ex|GDP_dollar|               date|
+---------+------+-------------+-----------+---------+----------+-------------------+
|Argentina|   ARG|          ARS|        2.5|      1.0|      null|2000-04-01 00:00:00|
|Argentina|   ARG|          ARS|        2.5|      1.0|      null|2001-04-01 00:00:00|
|Argentina|   ARG|          ARS|        2.5|     3.13|      null|2002-04-01 00:00:00|
|Argentina|   ARG|          ARS|        4.1|     2.88|      null|2003-04-01 00:00:00|
|Argentina|   ARG|          ARS|       4.36|     2.95|      null|2004-05-01 00:00:00|
|  Uruguay|   URY|          UYU|       29.8|   29.735|      null|2004-05-01 00:00:00|
|Argentina|   ARG|          ARS|       4.75|    2.897|      null|2005-06-01 00:00:00|
|  Uruguay|   URY|          UYU|       44.0|   24.125|      null|2005-06-01 00:00:00|
|Argentina|   ARG|          ARS|       4.75|   3.0638|      null|2006-01-01 00:00:00|
|Argentina|   ARG|          ARS|        7.0|   3.0565|      null|2006-05-01 00:00:00|
|  Uruguay|   URY|          UYU|      42.28|   23.925|      null|2006-05-01 00:00:00|
|Argentina|   ARG|          ARS|       8.25|  3.08875|      null|2007-01-01 00:00:00|
|  Uruguay|   URY|          UYU|       55.0|   23.925|      null|2007-01-01 00:00:00|
|Argentina|   ARG|          ARS|       8.25|   3.0915|      null|2007-06-01 00:00:00|
|  Uruguay|   URY|          UYU|       62.0|   23.945|      null|2007-06-01 00:00:00|
|Argentina|   ARG|          ARS|       11.0|   3.0195|      null|2008-06-01 00:00:00|
|  Uruguay|   URY|          UYU|       61.0|    19.15|      null|2008-06-01 00:00:00|
|Argentina|   ARG|          ARS|       11.5|  3.81125|      null|2009-07-01 00:00:00|
|  Uruguay|   URY|          UYU|       61.0|    23.17|      null|2009-07-01 00:00:00|
|Argentina|   ARG|          ARS|        7.0|   3.7985|      null|2010-01-01 00:00:00|
+---------+------+-------------+-----------+---------+----------+-------------------+
only showing top 20 rows

In [35]:
df[df.name.isin("Argentina", "Uruguay")].show()

+---------+------+-------------+-----------+---------+----------+-------------------+
|     name|iso_a3|currency_code|local_price|dollar_ex|GDP_dollar|               date|
+---------+------+-------------+-----------+---------+----------+-------------------+
|Argentina|   ARG|          ARS|        2.5|      1.0|      null|2000-04-01 00:00:00|
|Argentina|   ARG|          ARS|        2.5|      1.0|      null|2001-04-01 00:00:00|
|Argentina|   ARG|          ARS|        2.5|     3.13|      null|2002-04-01 00:00:00|
|Argentina|   ARG|          ARS|        4.1|     2.88|      null|2003-04-01 00:00:00|
|Argentina|   ARG|          ARS|       4.36|     2.95|      null|2004-05-01 00:00:00|
|  Uruguay|   URY|          UYU|       29.8|   29.735|      null|2004-05-01 00:00:00|
|Argentina|   ARG|          ARS|       4.75|    2.897|      null|2005-06-01 00:00:00|
|  Uruguay|   URY|          UYU|       44.0|   24.125|      null|2005-06-01 00:00:00|
|Argentina|   ARG|          ARS|       4.75|   3.0638|      null|2006-01-01 00:00:00|
|Argentina|   ARG|          ARS|        7.0|   3.0565|      null|2006-05-01 00:00:00|
|  Uruguay|   URY|          UYU|      42.28|   23.925|      null|2006-05-01 00:00:00|
|Argentina|   ARG|          ARS|       8.25|  3.08875|      null|2007-01-01 00:00:00|
|  Uruguay|   URY|          UYU|       55.0|   23.925|      null|2007-01-01 00:00:00|
|Argentina|   ARG|          ARS|       8.25|   3.0915|      null|2007-06-01 00:00:00|
|  Uruguay|   URY|          UYU|       62.0|   23.945|      null|2007-06-01 00:00:00|
|Argentina|   ARG|          ARS|       11.0|   3.0195|      null|2008-06-01 00:00:00|
|  Uruguay|   URY|          UYU|       61.0|    19.15|      null|2008-06-01 00:00:00|
|Argentina|   ARG|          ARS|       11.5|  3.81125|      null|2009-07-01 00:00:00|
|  Uruguay|   URY|          UYU|       61.0|    23.17|      null|2009-07-01 00:00:00|
|Argentina|   ARG|          ARS|        7.0|   3.7985|      null|2010-01-01 00:00:00|
+---------+------+-------------+-----------+---------+----------+-------------------+
only showing top 20 rows

## Descartando columnas

In [36]:
df.drop('name', 'iso_a3', 'currency_code', 'GDP_dollar').show()

+-----------+-----------+-------------------+
|local_price|  dollar_ex|               date|
+-----------+-----------+-------------------+
|        2.5|        1.0|2000-04-01 00:00:00|
|       2.59|       1.68|2000-04-01 00:00:00|
|       2.95|       1.79|2000-04-01 00:00:00|
|        1.9|0.632911392|2000-04-01 00:00:00|
|       2.85|       1.47|2000-04-01 00:00:00|
|     1260.0|      514.0|2000-04-01 00:00:00|
|        9.9|       8.28|2000-04-01 00:00:00|
|      54.37|       39.1|2000-04-01 00:00:00|
|      24.75|       8.04|2000-04-01 00:00:00|
|       2.56|1.075268817|2000-04-01 00:00:00|
|       10.2|       7.79|2000-04-01 00:00:00|
|      339.0|      279.0|2000-04-01 00:00:00|
|    14500.0|     7945.0|2000-04-01 00:00:00|
|       14.5|       4.05|2000-04-01 00:00:00|
|      294.0|      106.0|2000-04-01 00:00:00|
|       4.52|        3.8|2000-04-01 00:00:00|
|       20.9|       9.41|2000-04-01 00:00:00|
|        3.4|       2.01|2000-04-01 00:00:00|
|        5.5|        4.3|2000-04-01 00:00:00|
|       39.5|       28.5|2000-04-01 00:00:00|
+-----------+-----------+-------------------+
only showing top 20 rows

## Evolución del precio del BigMac en Argentina

### En pesos

In [37]:
info_ar = df.filter('name = "Argentina"').drop('name', 'iso_a3', 'currency_code', 'GDP_dollar')
info_ar.show()

+-----------+---------+-------------------+
|local_price|dollar_ex|               date|
+-----------+---------+-------------------+
|        2.5|      1.0|2000-04-01 00:00:00|
|        2.5|      1.0|2001-04-01 00:00:00|
|        2.5|     3.13|2002-04-01 00:00:00|
|        4.1|     2.88|2003-04-01 00:00:00|
|       4.36|     2.95|2004-05-01 00:00:00|
|       4.75|    2.897|2005-06-01 00:00:00|
|       4.75|   3.0638|2006-01-01 00:00:00|
|        7.0|   3.0565|2006-05-01 00:00:00|
|       8.25|  3.08875|2007-01-01 00:00:00|
|       8.25|   3.0915|2007-06-01 00:00:00|
|       11.0|   3.0195|2008-06-01 00:00:00|
|       11.5|  3.81125|2009-07-01 00:00:00|
|        7.0|   3.7985|2010-01-01 00:00:00|
|       14.0|  3.93375|2010-07-01 00:00:00|
|       20.0|   4.1325|2011-07-01 00:00:00|
|       20.0|   4.3135|2012-01-01 00:00:00|
|       19.0|  4.56625|2012-07-01 00:00:00|
|       19.0|   4.9765|2013-01-01 00:00:00|
|       21.0|   5.4125|2013-07-01 00:00:00|
|       21.0|  6.92125|2014-01-01 00:00:00|
+-----------+---------+-------------------+
only showing top 20 rows

In [38]:
import time
import datetime

In [39]:
data_ar = info_ar.rdd\
                 .map(lambda x: (time.mktime(x.date.timetuple()), x.local_price))\
                 .collect()

In [40]:
data_ar_list = list()
for data in data_ar:
    data_list = list(data)
    item = list()
    item.append(data_list[0]*1000)
    item.append(float(data_list[1]))
    data_ar_list.append(item)
#data_ar_list

In [41]:
from highcharts import Highchart

In [42]:
chart = Highchart()

chart.set_options('chart', {})

options = {
    'title': {
        'text': 'Precio BigMac en Pesos en Argentina'
    },
    'xAxis': {
        'type': 'datetime'
    },
    'yAxis': {
        'title': {
            'text': 'Precio'
        }
    },
    'legend': {
        'enabled': False
    },
    'tooltip': {
        'xDateFormat': '%m/%Y'
    }
}

chart.set_dict_options(options)

chart.add_data_set(data_ar_list, 'area', 'Precio ($)', marker={'enabled': False}) 

chart

### En dólares

In [44]:
data_ar_usd = df.filter('name = "Argentina"')\
                .drop('name', 'iso_a3', 'currency_code', 'GDP_dollar')\
                .rdd\
                .map(lambda x: (int(time.mktime(x.date.timetuple())), float(x.local_price)/float(x.dollar_ex)))\
                .collect()

In [45]:
data_ar_usd

[(954558000, 2.5),
 (986094000, 2.5),
 (1017630000, 0.7987220447284346),
 (1049166000, 1.423611111111111),
 (1083380400, 1.4779661016949153),
 (1117594800, 1.6396272005522956),
 (1136084400, 1.550362295188981),
 (1146452400, 2.290201210534925),
 (1167620400, 2.670983407527317),
 (1180666800, 2.668607472100922),
 (1212289200, 3.642987249544627),
 (1246417200, 3.0173827484421123),
 (1262314800, 1.842832697117283),
 (1277953200, 3.558945027009851),
 (1309489200, 4.839685420447671),
 (1325386800, 4.636606004404776),
 (1341111600, 4.160963591568573),
 (1357009200, 3.8179443383904355),
 (1372647600, 3.8799076212471135),
 (1388545200, 3.0341340075853354),
 (1404183600, 2.5707727620504977),
 (1420081200, 3.2520325203252036),
 (1435719600, 3.0651340996168583),
 (1451617200, 2.3897025544472004),
 (1467342000, 3.3478406427854033),
 (1483239600, 3.4683903515686585),
 (1498878000, 4.1255341093266535),
 (1514775600, 3.9603960396039604),
 (1530414000, 2.7051397655545535),
 (1546311600, 2.669870511280203),
 (1562641200, 2.8705043715389493)]

In [46]:
data_ar_usd_list = list()
for data in data_ar_usd:
    data_list = list(data)
    item = list()
    item.append(data_list[0]*1000)
    item.append(data_list[1])
    data_ar_usd_list.append(item)
#data_ar_usd_list

In [47]:
chart = Highchart()

chart.set_options('chart', {})

options = {
    'title': {
        'text': 'Precio BigMac en USD en Argentina'
    },
    'xAxis': {
        'type': 'datetime'
    },
    'yAxis': {
        'title': {
            'text': 'Precio (USD)'
        }
    },
    'legend': {
        'enabled': False
    },
    'tooltip': {
        'xDateFormat': '%m/%Y'
    }
}

chart.set_dict_options(options)

chart.add_data_set(data_ar_usd_list, 'area', 'Precio (USD)', marker={'enabled': False}) 

chart

## Agregar una columna

In [48]:
df_usd = df.withColumn('usd_price', round((df.local_price / df.dollar_ex),2))

In [49]:
df_usd.show()

+--------------+------+-------------+-----------+-----------+----------+-------------------+---------+
|          name|iso_a3|currency_code|local_price|  dollar_ex|GDP_dollar|               date|usd_price|
+--------------+------+-------------+-----------+-----------+----------+-------------------+---------+
|     Argentina|   ARG|          ARS|        2.5|        1.0|      null|2000-04-01 00:00:00|      2.5|
|     Australia|   AUS|          AUD|       2.59|       1.68|      null|2000-04-01 00:00:00|     1.54|
|        Brazil|   BRA|          BRL|       2.95|       1.79|      null|2000-04-01 00:00:00|     1.65|
|       Britain|   GBR|          GBP|        1.9|0.632911392|      null|2000-04-01 00:00:00|      3.0|
|        Canada|   CAN|          CAD|       2.85|       1.47|      null|2000-04-01 00:00:00|     1.94|
|         Chile|   CHL|          CLP|     1260.0|      514.0|      null|2000-04-01 00:00:00|     2.45|
|         China|   CHN|          CNY|        9.9|       8.28|      null|2000-04-01 00:00:00|      1.2|
|Czech Republic|   CZE|          CZK|      54.37|       39.1|      null|2000-04-01 00:00:00|     1.39|
|       Denmark|   DNK|          DKK|      24.75|       8.04|      null|2000-04-01 00:00:00|     3.08|
|     Euro area|   EUZ|          EUR|       2.56|1.075268817|      null|2000-04-01 00:00:00|     2.38|
|     Hong Kong|   HKG|          HKD|       10.2|       7.79|      null|2000-04-01 00:00:00|     1.31|
|       Hungary|   HUN|          HUF|      339.0|      279.0|      null|2000-04-01 00:00:00|     1.22|
|     Indonesia|   IDN|          IDR|    14500.0|     7945.0|      null|2000-04-01 00:00:00|     1.83|
|        Israel|   ISR|          ILS|       14.5|       4.05|      null|2000-04-01 00:00:00|     3.58|
|         Japan|   JPN|          JPY|      294.0|      106.0|      null|2000-04-01 00:00:00|     2.77|
|      Malaysia|   MYS|          MYR|       4.52|        3.8|      null|2000-04-01 00:00:00|     1.19|
|        Mexico|   MEX|          MXN|       20.9|       9.41|      null|2000-04-01 00:00:00|     2.22|
|   New Zealand|   NZL|          NZD|        3.4|       2.01|      null|2000-04-01 00:00:00|     1.69|
|        Poland|   POL|          PLN|        5.5|        4.3|      null|2000-04-01 00:00:00|     1.28|
|        Russia|   RUS|          RUB|       39.5|       28.5|      null|2000-04-01 00:00:00|     1.39|
+--------------+------+-------------+-----------+-----------+----------+-------------------+---------+
only showing top 20 rows

In [50]:
df_usd.groupBy().avg('usd_price').show()

+------------------+
|    avg(usd_price)|
+------------------+
|3.3926437541308734|
+------------------+

## Info de todos los paises para la última medición

In [51]:
countries_df = df_usd.filter('date = "2019-07-09"')

In [52]:
countries_df.count()

72

In [53]:
countries_df.show()

+--------------------+------+-------------+-----------+-----------------+----------+-------------------+---------+
|                name|iso_a3|currency_code|local_price|        dollar_ex|GDP_dollar|               date|usd_price|
+--------------------+------+-------------+-----------+-----------------+----------+-------------------+---------+
|United Arab Emirates|   ARE|          AED|      14.75|          3.67315|  37732.66|2019-07-09 00:00:00|     4.02|
|           Argentina|   ARG|          ARS|      120.0|          41.8045|  14588.01|2019-07-09 00:00:00|     2.87|
|           Australia|   AUS|          AUD|       6.15|  1.4436263894904|  55957.72|2019-07-09 00:00:00|     4.26|
|             Austria|   AUT|          EUR|       3.81|0.892339267389462|  47383.87|2019-07-09 00:00:00|     4.27|
|          Azerbaijan|   AZE|          AZN|       3.95|           1.6965|   4200.33|2019-07-09 00:00:00|     2.33|
|             Belgium|   BEL|          EUR|        4.2|0.892339267389462|  43672.41|2019-07-09 00:00:00|     4.71|
|             Bahrain|   BHR|          BHD|        1.4|            0.377|  24399.25|2019-07-09 00:00:00|     3.71|
|              Brazil|   BRA|          BRL|       17.5|           3.8073|   9928.23|2019-07-09 00:00:00|      4.6|
|              Canada|   CAN|          CAD|       6.77|          1.31305|  45223.97|2019-07-09 00:00:00|     5.16|
|         Switzerland|   CHE|          CHF|        6.5|          0.99355|  80642.58|2019-07-09 00:00:00|     6.54|
|               Chile|   CHL|          CLP|     2640.0|           689.75|  15127.76|2019-07-09 00:00:00|     3.83|
|               China|   CHN|          CNY|       21.0|           6.8846|    8677.4|2019-07-09 00:00:00|     3.05|
|            Colombia|   COL|          COP|    11900.0|           3227.0|   6325.49|2019-07-09 00:00:00|     3.69|
|          Costa Rica|   CRI|          CRC|     2290.0|          581.935|  11810.18|2019-07-09 00:00:00|     3.94|
|      Czech Republic|   CZE|          CZK|       85.0|          22.7993|  20409.98|2019-07-09 00:00:00|     3.73|
|             Germany|   DEU|          EUR|       4.14|0.892339267389462|  44770.58|2019-07-09 00:00:00|     4.64|
|             Denmark|   DNK|          DKK|       30.0|           6.6593|   57380.2|2019-07-09 00:00:00|      4.5|
|               Egypt|   EGY|          EGP|       42.0|           16.615|   2495.02|2019-07-09 00:00:00|     2.53|
|               Spain|   ESP|          EUR|       3.95|0.892339267389462|  28377.76|2019-07-09 00:00:00|     4.43|
|             Estonia|   EST|          EUR|        3.2|0.892339267389462|  20240.91|2019-07-09 00:00:00|     3.59|
+--------------------+------+-------------+-----------+-----------------+----------+-------------------+---------+
only showing top 20 rows

## Ordenando

In [55]:
countries_sorted_df = countries_df.orderBy(countries_df.usd_price.asc())

In [57]:
countries_sorted_df.explain(True)

== Parsed Logical Plan ==
Sort [usd_price#1306 ASC NULLS FIRST], true
+- Filter (date#30 = cast(2019-07-09 as timestamp))
   +- Project [name#24, iso_a3#25, currency_code#26, local_price#27, dollar_ex#28, GDP_dollar#29, date#30, round((local_price#27 / dollar_ex#28), 2) AS usd_price#1306]
      +- Relation[name#24,iso_a3#25,currency_code#26,local_price#27,dollar_ex#28,GDP_dollar#29,date#30] csv

== Analyzed Logical Plan ==
name: string, iso_a3: string, currency_code: string, local_price: double, dollar_ex: double, GDP_dollar: double, date: timestamp, usd_price: double
Sort [usd_price#1306 ASC NULLS FIRST], true
+- Filter (date#30 = cast(2019-07-09 as timestamp))
   +- Project [name#24, iso_a3#25, currency_code#26, local_price#27, dollar_ex#28, GDP_dollar#29, date#30, round((local_price#27 / dollar_ex#28), 2) AS usd_price#1306]
      +- Relation[name#24,iso_a3#25,currency_code#26,local_price#27,dollar_ex#28,GDP_dollar#29,date#30] csv

== Optimized Logical Plan ==
Sort [usd_price#1306 ASC NULLS FIRST], true
+- Project [name#24, iso_a3#25, currency_code#26, local_price#27, dollar_ex#28, GDP_dollar#29, date#30, round((local_price#27 / dollar_ex#28), 2) AS usd_price#1306]
   +- Filter (isnotnull(date#30) && (date#30 = 1562641200000000))
      +- Relation[name#24,iso_a3#25,currency_code#26,local_price#27,dollar_ex#28,GDP_dollar#29,date#30] csv

== Physical Plan ==
*(2) Sort [usd_price#1306 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(usd_price#1306 ASC NULLS FIRST, 200)
   +- *(1) Project [name#24, iso_a3#25, currency_code#26, local_price#27, dollar_ex#28, GDP_dollar#29, date#30, round((local_price#27 / dollar_ex#28), 2) AS usd_price#1306]
      +- *(1) Filter (isnotnull(date#30) && (date#30 = 1562641200000000))
         +- *(1) FileScan csv [name#24,iso_a3#25,currency_code#26,local_price#27,dollar_ex#28,GDP_dollar#29,date#30] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/home/damu/Downloads/spark-2.4.0-bin-hadoop2.7/data/big-mac-source-data.csv], PartitionFilters: [], PushedFilters: [IsNotNull(date), EqualTo(date,2019-07-09 00:00:00.0)], ReadSchema: struct<name:string,iso_a3:string,currency_code:string,local_price:double,dollar_ex:double,GDP_dol...

In [56]:
countries_sorted_df.show()

+------------+------+-------------+-----------+-----------------+----------+-------------------+---------+
|        name|iso_a3|currency_code|local_price|        dollar_ex|GDP_dollar|               date|usd_price|
+------------+------+-------------+-----------+-----------------+----------+-------------------+---------+
|      Russia|   RUS|          RUB|      130.0|         63.83875|  10961.99|2019-07-09 00:00:00|     2.04|
|    Malaysia|   MYS|          MYR|       8.85|           4.1425|   9827.67|2019-07-09 00:00:00|     2.14|
|South Africa|   ZAF|          ZAR|       31.0|           14.175|   6182.25|2019-07-09 00:00:00|     2.19|
|     Romania|   ROU|          RON|        9.3|           4.2192|  10761.71|2019-07-09 00:00:00|      2.2|
|     Ukraine|   UKR|          UAH|       57.0|          25.6475|   2655.94|2019-07-09 00:00:00|     2.22|
|   Indonesia|   IDN|          IDR|    32000.0|          14130.0|   3884.72|2019-07-09 00:00:00|     2.26|
|      Taiwan|   TWN|          TWD|       72.0|           31.172|  24389.68|2019-07-09 00:00:00|     2.31|
|  Azerbaijan|   AZE|          AZN|       3.95|           1.6965|   4200.33|2019-07-09 00:00:00|     2.33|
|     Moldova|   MDA|          MDL|       43.0|          17.8142|   2726.54|2019-07-09 00:00:00|     2.41|
|      Turkey|   TUR|          TRY|      13.99|            5.722|  10537.19|2019-07-09 00:00:00|     2.44|
|       Egypt|   EGY|          EGP|       42.0|           16.615|   2495.02|2019-07-09 00:00:00|     2.53|
|   Hong Kong|   HKG|          HKD|       20.5|           7.8105|  46091.22|2019-07-09 00:00:00|     2.62|
|      Mexico|   MEX|          MXN|       50.0|         18.89525|   9376.99|2019-07-09 00:00:00|     2.65|
|       India|   IND|          INR|      183.0|          68.5544|   2014.01|2019-07-09 00:00:00|     2.67|
|    Slovenia|   SVN|          EUR|        2.4|0.892339267389462|  23502.25|2019-07-09 00:00:00|     2.69|
| Philippines|   PHL|          PHP|      142.0|          51.3175|    2988.9|2019-07-09 00:00:00|     2.77|
|     Vietnam|   VNM|          VND|    65000.0|          23231.0|   2353.36|2019-07-09 00:00:00|      2.8|
|      Poland|   POL|          PLN|       10.8|          3.80775|  13867.61|2019-07-09 00:00:00|     2.84|
|   Argentina|   ARG|          ARS|      120.0|          41.8045|  14588.01|2019-07-09 00:00:00|     2.87|
|    Pakistan|   PAK|          PKR|      480.0|           157.45|   1545.94|2019-07-09 00:00:00|     3.05|
+------------+------+-------------+-----------+-----------------+----------+-------------------+---------+
only showing top 20 rows

In [58]:
countries_info = countries_sorted_df.drop('iso_a3', 'currency_code', 'local_price', 'dollar_ex', 'GDP_dollar', 'date')\
                                    .collect()

In [59]:
countries_info

[Row(name='Russia', usd_price=2.04),
 Row(name='Malaysia', usd_price=2.14),
 Row(name='South Africa', usd_price=2.19),
 Row(name='Romania', usd_price=2.2),
 Row(name='Ukraine', usd_price=2.22),
 Row(name='Indonesia', usd_price=2.26),
 Row(name='Taiwan', usd_price=2.31),
 Row(name='Azerbaijan', usd_price=2.33),
 Row(name='Moldova', usd_price=2.41),
 Row(name='Turkey', usd_price=2.44),
 Row(name='Egypt', usd_price=2.53),
 Row(name='Hong Kong', usd_price=2.62),
 Row(name='Mexico', usd_price=2.65),
 Row(name='India', usd_price=2.67),
 Row(name='Slovenia', usd_price=2.69),
 Row(name='Philippines', usd_price=2.77),
 Row(name='Vietnam', usd_price=2.8),
 Row(name='Poland', usd_price=2.84),
 Row(name='Argentina', usd_price=2.87),
 Row(name='China', usd_price=3.05),
 Row(name='Pakistan', usd_price=3.05),
 Row(name='Hungary', usd_price=3.1),
 Row(name='Oman', usd_price=3.14),
 Row(name='Lithuania', usd_price=3.19),
 Row(name='Latvia', usd_price=3.19),
 Row(name='Peru', usd_price=3.19),
 Row(name='Jordan', usd_price=3.24),
 Row(name='Guatemala', usd_price=3.26),
 Row(name='Nicaragua', usd_price=3.32),
 Row(name='Croatia', usd_price=3.33),
 Row(name='Saudi Arabia', usd_price=3.47),
 Row(name='Honduras', usd_price=3.51),
 Row(name='Qatar', usd_price=3.57),
 Row(name='Estonia', usd_price=3.59),
 Row(name='Japan', usd_price=3.59),
 Row(name='Slovakia', usd_price=3.59),
 Row(name='Kuwait', usd_price=3.61),
 Row(name='Sri Lanka', usd_price=3.64),
 Row(name='Portugal', usd_price=3.64),
 Row(name='Colombia', usd_price=3.69),
 Row(name='Greece', usd_price=3.7),
 Row(name='Bahrain', usd_price=3.71),
 Row(name='Czech Republic', usd_price=3.73),
 Row(name='South Korea', usd_price=3.81),
 Row(name='Chile', usd_price=3.83),
 Row(name='Thailand', usd_price=3.86),
 Row(name='Costa Rica', usd_price=3.94),
 Row(name='United Arab Emirates', usd_price=4.02),
 Row(name='Britain', usd_price=4.1),
 Row(name='New Zealand', usd_price=4.23),
 Row(name='Australia', usd_price=4.26),
 Row(name='Singapore', usd_price=4.26),
 Row(name='Austria', usd_price=4.27),
 Row(name='Lebanon', usd_price=4.31),
 Row(name='Spain', usd_price=4.43),
 Row(name='Denmark', usd_price=4.5),
 Row(name='Netherlands', usd_price=4.55),
 Row(name='Euro area', usd_price=4.57),
 Row(name='Brazil', usd_price=4.6),
 Row(name='Germany', usd_price=4.64),
 Row(name='Uruguay', usd_price=4.66),
 Row(name='Belgium', usd_price=4.71),
 Row(name='France', usd_price=4.71),
 Row(name='Israel', usd_price=4.77),
 Row(name='Ireland', usd_price=4.82),
 Row(name='Italy', usd_price=4.82),
 Row(name='Norway', usd_price=4.85),
 Row(name='Canada', usd_price=5.16),
 Row(name='Finland', usd_price=5.32),
 Row(name='Sweden', usd_price=5.38),
 Row(name='United States', usd_price=5.74),
 Row(name='Switzerland', usd_price=6.54)]

In [60]:
countries = list()
for info in countries_info:
    countries.append(info.name)
#countries

In [61]:
countries_price = list()
for info in countries_info:
    countries_price.append(info.usd_price)
#countries_price

In [62]:
chart = Highchart()

chart.set_options('chart', {'inverted': True, 'height': 1500})

options = {
    'title': {
        'text': 'Precio BigMac en USD Enero 2019'
    },
    'xAxis': {
        'categories': countries
    },
    'plotOptions': {
        'series': {
            'pointWidth': 5
        } 
    },
    'yAxis': {
        'min': 0,
        'title': {
            'text': 'Precio (USD)'
        }
    },
    'legend': {
        'enabled': False
    },
    'tooltip': {
        'xDateFormat': '%m/%Y'
    }
}

chart.set_dict_options(options)

chart.add_data_set(countries_price, 'bar', 'Precio (USD)', marker={'enabled': False}) 

chart

In [63]:
countries_price_usa = list()
for info in countries_info:
    countries_price_usa.append(info.usd_price-5.74)
#countries_price_usa

In [64]:
chart = Highchart()

chart.set_options('chart', {'inverted': True, 'height': 1500})

options = {
    'title': {
        'text': 'Precio BigMac en USD con USA como referencia (Enero 2019)'
    },
    'xAxis': {
        'categories': countries
    },
    'plotOptions': {
        'series': {
            'pointWidth': 5
        } 
    },
    'yAxis': {
        'title': {
            'text': 'Precio (USD)'
        }
    },
    'legend': {
        'enabled': False
    },
    'tooltip': {
        'xDateFormat': '%m/%Y'
    }
}

chart.set_dict_options(options)

chart.add_data_set(countries_price_usa, 'bar', 'Precio (USD)', marker={'enabled': False}) 

chart

## Evolución del precio del BigMac en USA

In [65]:
data_us = df.filter('name = "United States"')\
            .drop('name', 'iso_a3', 'currency_code', 'GDP_dollar')\
            .rdd\
            .map(lambda x: (time.mktime(x.date.timetuple()), x.local_price))\
            .collect()

In [66]:
data_us_list = list()
for data in data_us:
    data_list = list(data)
    item = list()
    item.append(data_list[0]*1000)
    item.append(float(data_list[1]))
    data_us_list.append(item)
#data_us_list

In [67]:
chart = Highchart()

chart.set_options('chart', {})

options = {
    'title': {
        'text': 'Precio BigMac USA'
    },
    'xAxis': {
        'type': 'datetime'
    },
    'yAxis': {
        'title': {
            'text': 'Precio (USD)'
        }
    },
    'legend': {
        'enabled': False
    },
    'tooltip': {
        'xDateFormat': '%m/%Y'
    }
}

chart.set_dict_options(options)

chart.add_data_set(data_us_list, 'area', 'Precio (USD)', marker={'enabled': False}) 

chart

## Eliminar duplicados

In [68]:
df.dropDuplicates(['name']).count()

74

## Eliminar nulos

In [69]:
df.count()

1514

In [70]:
df.dropna().count()

901

Parameters
how – ‘any’ or ‘all’. If ‘any’, drop a row if it contains any nulls. If ‘all’, drop a row only if all its values are null.

thresh – int, default None If specified, drop rows that have less than thresh non-null values. This overwrites the how parameter.

subset – optional list of column names to consider.

In [71]:
df.dropna(thresh=7).count()

901

In [72]:
df.dropna(subset=['name']).count()

1514

## Completar nulos

In [73]:
df.show()

+--------------+------+-------------+-----------+-----------+----------+-------------------+
|          name|iso_a3|currency_code|local_price|  dollar_ex|GDP_dollar|               date|
+--------------+------+-------------+-----------+-----------+----------+-------------------+
|     Argentina|   ARG|          ARS|        2.5|        1.0|      null|2000-04-01 00:00:00|
|     Australia|   AUS|          AUD|       2.59|       1.68|      null|2000-04-01 00:00:00|
|        Brazil|   BRA|          BRL|       2.95|       1.79|      null|2000-04-01 00:00:00|
|       Britain|   GBR|          GBP|        1.9|0.632911392|      null|2000-04-01 00:00:00|
|        Canada|   CAN|          CAD|       2.85|       1.47|      null|2000-04-01 00:00:00|
|         Chile|   CHL|          CLP|     1260.0|      514.0|      null|2000-04-01 00:00:00|
|         China|   CHN|          CNY|        9.9|       8.28|      null|2000-04-01 00:00:00|
|Czech Republic|   CZE|          CZK|      54.37|       39.1|      null|2000-04-01 00:00:00|
|       Denmark|   DNK|          DKK|      24.75|       8.04|      null|2000-04-01 00:00:00|
|     Euro area|   EUZ|          EUR|       2.56|1.075268817|      null|2000-04-01 00:00:00|
|     Hong Kong|   HKG|          HKD|       10.2|       7.79|      null|2000-04-01 00:00:00|
|       Hungary|   HUN|          HUF|      339.0|      279.0|      null|2000-04-01 00:00:00|
|     Indonesia|   IDN|          IDR|    14500.0|     7945.0|      null|2000-04-01 00:00:00|
|        Israel|   ISR|          ILS|       14.5|       4.05|      null|2000-04-01 00:00:00|
|         Japan|   JPN|          JPY|      294.0|      106.0|      null|2000-04-01 00:00:00|
|      Malaysia|   MYS|          MYR|       4.52|        3.8|      null|2000-04-01 00:00:00|
|        Mexico|   MEX|          MXN|       20.9|       9.41|      null|2000-04-01 00:00:00|
|   New Zealand|   NZL|          NZD|        3.4|       2.01|      null|2000-04-01 00:00:00|
|        Poland|   POL|          PLN|        5.5|        4.3|      null|2000-04-01 00:00:00|
|        Russia|   RUS|          RUB|       39.5|       28.5|      null|2000-04-01 00:00:00|
+--------------+------+-------------+-----------+-----------+----------+-------------------+
only showing top 20 rows

In [74]:
df.fillna(0).show()

+--------------+------+-------------+-----------+-----------+----------+-------------------+
|          name|iso_a3|currency_code|local_price|  dollar_ex|GDP_dollar|               date|
+--------------+------+-------------+-----------+-----------+----------+-------------------+
|     Argentina|   ARG|          ARS|        2.5|        1.0|       0.0|2000-04-01 00:00:00|
|     Australia|   AUS|          AUD|       2.59|       1.68|       0.0|2000-04-01 00:00:00|
|        Brazil|   BRA|          BRL|       2.95|       1.79|       0.0|2000-04-01 00:00:00|
|       Britain|   GBR|          GBP|        1.9|0.632911392|       0.0|2000-04-01 00:00:00|
|        Canada|   CAN|          CAD|       2.85|       1.47|       0.0|2000-04-01 00:00:00|
|         Chile|   CHL|          CLP|     1260.0|      514.0|       0.0|2000-04-01 00:00:00|
|         China|   CHN|          CNY|        9.9|       8.28|       0.0|2000-04-01 00:00:00|
|Czech Republic|   CZE|          CZK|      54.37|       39.1|       0.0|2000-04-01 00:00:00|
|       Denmark|   DNK|          DKK|      24.75|       8.04|       0.0|2000-04-01 00:00:00|
|     Euro area|   EUZ|          EUR|       2.56|1.075268817|       0.0|2000-04-01 00:00:00|
|     Hong Kong|   HKG|          HKD|       10.2|       7.79|       0.0|2000-04-01 00:00:00|
|       Hungary|   HUN|          HUF|      339.0|      279.0|       0.0|2000-04-01 00:00:00|
|     Indonesia|   IDN|          IDR|    14500.0|     7945.0|       0.0|2000-04-01 00:00:00|
|        Israel|   ISR|          ILS|       14.5|       4.05|       0.0|2000-04-01 00:00:00|
|         Japan|   JPN|          JPY|      294.0|      106.0|       0.0|2000-04-01 00:00:00|
|      Malaysia|   MYS|          MYR|       4.52|        3.8|       0.0|2000-04-01 00:00:00|
|        Mexico|   MEX|          MXN|       20.9|       9.41|       0.0|2000-04-01 00:00:00|
|   New Zealand|   NZL|          NZD|        3.4|       2.01|       0.0|2000-04-01 00:00:00|
|        Poland|   POL|          PLN|        5.5|        4.3|       0.0|2000-04-01 00:00:00|
|        Russia|   RUS|          RUB|       39.5|       28.5|       0.0|2000-04-01 00:00:00|
+--------------+------+-------------+-----------+-----------+----------+-------------------+
only showing top 20 rows

value:

* It will take a dictionary to specify which column will replace with which value.
* A value (int , float, string) for all columns.
 
subset: Specify some selected columns.

## Reemplazar valores

In [75]:
df.replace({'Argentina': 'AR'}, subset=['name']).show()

+--------------+------+-------------+-----------+-----------+----------+-------------------+
|          name|iso_a3|currency_code|local_price|  dollar_ex|GDP_dollar|               date|
+--------------+------+-------------+-----------+-----------+----------+-------------------+
|            AR|   ARG|          ARS|        2.5|        1.0|      null|2000-04-01 00:00:00|
|     Australia|   AUS|          AUD|       2.59|       1.68|      null|2000-04-01 00:00:00|
|        Brazil|   BRA|          BRL|       2.95|       1.79|      null|2000-04-01 00:00:00|
|       Britain|   GBR|          GBP|        1.9|0.632911392|      null|2000-04-01 00:00:00|
|        Canada|   CAN|          CAD|       2.85|       1.47|      null|2000-04-01 00:00:00|
|         Chile|   CHL|          CLP|     1260.0|      514.0|      null|2000-04-01 00:00:00|
|         China|   CHN|          CNY|        9.9|       8.28|      null|2000-04-01 00:00:00|
|Czech Republic|   CZE|          CZK|      54.37|       39.1|      null|2000-04-01 00:00:00|
|       Denmark|   DNK|          DKK|      24.75|       8.04|      null|2000-04-01 00:00:00|
|     Euro area|   EUZ|          EUR|       2.56|1.075268817|      null|2000-04-01 00:00:00|
|     Hong Kong|   HKG|          HKD|       10.2|       7.79|      null|2000-04-01 00:00:00|
|       Hungary|   HUN|          HUF|      339.0|      279.0|      null|2000-04-01 00:00:00|
|     Indonesia|   IDN|          IDR|    14500.0|     7945.0|      null|2000-04-01 00:00:00|
|        Israel|   ISR|          ILS|       14.5|       4.05|      null|2000-04-01 00:00:00|
|         Japan|   JPN|          JPY|      294.0|      106.0|      null|2000-04-01 00:00:00|
|      Malaysia|   MYS|          MYR|       4.52|        3.8|      null|2000-04-01 00:00:00|
|        Mexico|   MEX|          MXN|       20.9|       9.41|      null|2000-04-01 00:00:00|
|   New Zealand|   NZL|          NZD|        3.4|       2.01|      null|2000-04-01 00:00:00|
|        Poland|   POL|          PLN|        5.5|        4.3|      null|2000-04-01 00:00:00|
|        Russia|   RUS|          RUB|       39.5|       28.5|      null|2000-04-01 00:00:00|
+--------------+------+-------------+-----------+-----------+----------+-------------------+
only showing top 20 rows

Parameters
to_replace – bool, int, long, float, string, list or dict. Value to be replaced. If the value is a dict, then value is ignored or can be omitted, and to_replace must be a mapping between a value and a replacement.

value – bool, int, long, float, string, list or None. The replacement value must be a bool, int, long, float, string or None. If value is a list, value should be of the same length and type as to_replace. If value is a scalar and to_replace is a sequence, then value is used as a replacement for each item in to_replace.

subset – optional list of column names to consider. Columns specified in subset that do not have matching data type are ignored. For example, if value is a string, and subset contains a non-string column, then the non-string column is simply ignored.

## Columna a partir de expresión SQL

In [77]:
df.selectExpr("local_price * dollar_ex as usd_price").show()

+------------------+
|         usd_price|
+------------------+
|               2.5|
|4.3511999999999995|
| 5.280500000000001|
|      1.2025316448|
|            4.1895|
|          647640.0|
|            81.972|
|          2125.867|
|198.98999999999998|
|     2.75268817152|
|            79.458|
|           94581.0|
|        1.152025E8|
|58.724999999999994|
|           31164.0|
|            17.176|
|196.66899999999998|
| 6.833999999999999|
|             23.65|
|           1125.75|
+------------------+
only showing top 20 rows

## Renombrar columna

In [78]:
df.withColumnRenamed('local_price','price').show()

+--------------+------+-------------+-------+-----------+----------+-------------------+
|          name|iso_a3|currency_code|  price|  dollar_ex|GDP_dollar|               date|
+--------------+------+-------------+-------+-----------+----------+-------------------+
|     Argentina|   ARG|          ARS|    2.5|        1.0|      null|2000-04-01 00:00:00|
|     Australia|   AUS|          AUD|   2.59|       1.68|      null|2000-04-01 00:00:00|
|        Brazil|   BRA|          BRL|   2.95|       1.79|      null|2000-04-01 00:00:00|
|       Britain|   GBR|          GBP|    1.9|0.632911392|      null|2000-04-01 00:00:00|
|        Canada|   CAN|          CAD|   2.85|       1.47|      null|2000-04-01 00:00:00|
|         Chile|   CHL|          CLP| 1260.0|      514.0|      null|2000-04-01 00:00:00|
|         China|   CHN|          CNY|    9.9|       8.28|      null|2000-04-01 00:00:00|
|Czech Republic|   CZE|          CZK|  54.37|       39.1|      null|2000-04-01 00:00:00|
|       Denmark|   DNK|          DKK|  24.75|       8.04|      null|2000-04-01 00:00:00|
|     Euro area|   EUZ|          EUR|   2.56|1.075268817|      null|2000-04-01 00:00:00|
|     Hong Kong|   HKG|          HKD|   10.2|       7.79|      null|2000-04-01 00:00:00|
|       Hungary|   HUN|          HUF|  339.0|      279.0|      null|2000-04-01 00:00:00|
|     Indonesia|   IDN|          IDR|14500.0|     7945.0|      null|2000-04-01 00:00:00|
|        Israel|   ISR|          ILS|   14.5|       4.05|      null|2000-04-01 00:00:00|
|         Japan|   JPN|          JPY|  294.0|      106.0|      null|2000-04-01 00:00:00|
|      Malaysia|   MYS|          MYR|   4.52|        3.8|      null|2000-04-01 00:00:00|
|        Mexico|   MEX|          MXN|   20.9|       9.41|      null|2000-04-01 00:00:00|
|   New Zealand|   NZL|          NZD|    3.4|       2.01|      null|2000-04-01 00:00:00|
|        Poland|   POL|          PLN|    5.5|        4.3|      null|2000-04-01 00:00:00|
|        Russia|   RUS|          RUB|   39.5|       28.5|      null|2000-04-01 00:00:00|
+--------------+------+-------------+-------+-----------+----------+-------------------+
only showing top 20 rows

## Pivoteando

In [79]:
df.groupBy("name").pivot("date").min('local_price').show()

+-----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|       name|2000-04-01 00:00:00|2001-04-01 00:00:00|2002-04-01 00:00:00|2003-04-01 00:00:00|2004-05-01 00:00:00|2005-06-01 00:00:00|2006-01-01 00:00:00|2006-05-01 00:00:00|2007-01-01 00:00:00|2007-06-01 00:00:00|2008-06-01 00:00:00|2009-07-01 00:00:00|2010-01-01 00:00:00|2010-07-01 00:00:00|2011-07-01 00:00:00|2012-01-01 00:00:00|2012-07-01 00:00:00|2013-01-01 00:00:00|2013-07-01 00:00:00|2014-01-01 00:00:00|2014-07-01 00:00:00|2015-01-01 00:00:00|2015-07-01 00:00:00|2016-01-01 00:00:00|2016-07-01 00:00:00|2017-01-01 00:00:00|2017-07-01 00:00:00|2018-01-01 00:00:00|2018-07-01 00:00:00|2019-01-01 00:00:00|2019-07-09 00:00:00|
+-----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|     Russia|               39.5|               35.0|               39.0|               41.0|               42.0|               42.0|               46.0|               48.0|               49.0|               52.0|               59.0|               67.0|               70.0|               71.0|               75.0|               81.0|               75.0|              72.88|               87.0|               89.0|               89.0|               89.0|              107.0|              114.0|              130.0|              130.0|              137.0|              130.0|              130.0|             110.17|              130.0|
|     Sweden|               24.0|               24.0|               26.0|               30.0|               30.0|               31.0|               33.0|               33.0|               32.0|               33.0|               38.0|               39.0|               39.0|               48.4|               48.4|               41.0|        39.97301987|        40.55930138|              41.61|               40.7|               40.7|               40.7|               43.7|               45.0|              44.94|               48.0|              48.97|               49.1|               51.0|               52.0|               51.0|
|Philippines|               null|               59.0|               65.0|               65.0|               69.0|               80.0|               82.0|               85.0|               85.0|               85.0|               87.0|              99.39|             101.52|              102.0|              118.0|              118.0|              118.0|              118.0|             115.21|              135.0|              160.0|              163.0|              163.0|              131.0|              133.0|              133.0|              134.0|              134.0|              140.0|              140.0|              142.0|
|   Malaysia|               4.52|               4.52|               5.04|               5.04|               5.04|               5.25|                5.5|                5.5|                5.5|                5.5|                5.5|               6.77|               7.05|               7.05|                7.2|               7.35|                7.4|               7.95|                7.3|                7.4|               7.63|               7.63|               7.65|                8.0|                8.0|                8.0|                8.6|                9.0|               8.45|               9.05|               8.85|
|  Singapore|                3.2|                3.3|                3.3|                3.3|                3.3|                3.6|                3.6|                3.6|                3.6|               3.95|               3.95|               4.22|               4.45|               4.23|               4.41|               4.85|                4.4|                4.5|                4.7|                4.6|                4.7|                4.7|                4.7|                4.7|               5.45|                5.6|                5.6|                5.8|                5.8|                5.8|                5.8|
|    Britain|                1.9|               1.99|               1.99|               1.99|               1.88|               1.88|               1.88|               1.94|               1.94|               1.99|               2.29|               2.29|               2.29|               2.29|               2.39|               2.49|               2.69|               2.69|               2.69|               2.79|               2.89|               2.89|               2.89|               2.89|               2.99|               3.09|               3.19|               3.19|               3.19|               3.19|               3.29|
|     Turkey|               null|               null|          4000000.0|          3750000.0|          3950000.0|                4.0|                4.1|                4.2|               4.55|               4.75|               5.15|               5.65|               5.65|               5.95|                6.5|                6.6|               8.25|               8.45|                8.5|                8.5|               9.25|               9.25|              10.25|              10.25|              10.75|              10.75|              10.75|              10.75|              10.75|              10.75|              13.99|
|    Germany|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|                3.4|               3.53|               3.64|               3.64|               3.64|               3.67|               3.67|               3.67|               3.59|               3.59|               3.79|               3.79|                3.9|                3.9|               4.12|               4.12|               4.14|
|     Jordan|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               1.95|               1.95|                2.3|
|     France|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|                3.5|                3.6|                3.6|                3.6|                3.9|                3.8|                3.9|                3.9|                4.1|                4.1|                4.1|                4.1|                4.1|                4.2|                4.2|                4.2|                4.2|
|     Greece|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               3.26|                3.3|              2.683|                3.3|                2.6|               3.05|               3.05|               3.05|               3.05|               3.35|               3.35|               3.35|               3.35|               3.35|               3.35|               3.35|                3.3|
|  Sri Lanka|               null|               null|               null|               null|              140.0|              175.0|               null|              190.0|              190.0|              210.0|              210.0|              210.0|              210.0|              210.0|              280.0|              290.0|              290.0|              350.0|              370.0|              350.0|              350.0|              350.0|              350.0|              350.0|              530.0|              550.0|              580.0|              580.0|              580.0|              580.0|              640.0|
|     Taiwan|               70.0|               70.0|               70.0|               70.0|               75.0|               75.0|               75.0|               75.0|               75.0|               75.0|               75.0|               75.0|               75.0|               75.0|               75.0|               75.0|               75.0|               75.0|               79.0|               79.0|               79.0|               79.0|               79.0|               69.0|               69.0|               69.0|               69.0|               69.0|               69.0|               69.0|               72.0|
|   Slovakia|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|                3.0|                3.2|                3.2|
|  Argentina|                2.5|                2.5|                2.5|                4.1|               4.36|               4.75|               4.75|                7.0|               8.25|               8.25|               11.0|               11.5|                7.0|               14.0|               20.0|               20.0|               19.0|               19.0|               21.0|               21.0|               21.0|               28.0|               28.0|               33.0|               50.0|               55.0|               70.0|               75.0|               75.0|              100.0|              120.0|
|    Belgium|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               3.75|                3.7|                3.8|                3.8|                3.7|               3.95|                3.7|                3.7|                3.7|               3.95|               3.95|               3.95|               4.05|                4.1|                4.1|                4.2|                4.2|
|      Qatar|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               12.0|               12.0|               13.0|
|    Finland|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               3.75|               3.75|               3.75|               3.75|                4.1|                4.1|                4.1|                4.1|                4.1|                4.1|                4.6|               4.55|               4.56|               4.56|               4.62|               4.62|               4.75|
|  Nicaragua|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|               null|              103.0|              103.0|              110.0|
|       Peru|               null|               null|                8.5|                7.9|               8.99|               8.99|                9.5|                9.5|                9.5|                9.5|                9.5|              8.056|              8.056|               10.0|               10.0|               10.0|               null|               10.0|               10.0|               10.0|               10.0|               10.0|               10.0|               10.0|               10.0|               11.0|               10.5|               10.5|               10.5|               10.5|               10.5|
+-----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

## Obtener Panda DataFrame

In [80]:
df.toPandas()

,name,iso_a3,currency_code,local_price,dollar_ex,GDP_dollar,date
0,Argentina,ARG,ARS,2.50,1.000000,NaN,2000-04-01
1,Australia,AUS,AUD,2.59,1.680000,NaN,2000-04-01
2,Brazil,BRA,BRL,2.95,1.790000,NaN,2000-04-01
3,Britain,GBR,GBP,1.90,0.632911,NaN,2000-04-01
4,Canada,CAN,CAD,2.85,1.470000,NaN,2000-04-01
5,Chile,CHL,CLP,1260.00,514.000000,NaN,2000-04-01
6,China,CHN,CNY,9.90,8.280000,NaN,2000-04-01
7,Czech Republic,CZE,CZK,54.37,39.100000,NaN,2000-04-01
8,Denmark,DNK,DKK,24.75,8.040000,NaN,2000-04-01
9,Euro area,EUZ,EUR,2.56,1.075269,NaN,2000-04-01
10,Hong Kong,HKG,HKD,10.20,7.790000,NaN,2000-04-01
11,Hungary,HUN,HUF,339.00,279.000000,NaN,2000-04-01
12,Indonesia,IDN,IDR,14500.00,7945.000000,NaN,2000-04-01
13,Israel,ISR,ILS,14.50,4.050000,NaN,2000-04-01
14,Japan,JPN,JPY,294.00,106.000000,NaN,2000-04-01
15,Malaysia,MYS,MYR,4.52,3.800000,NaN,2000-04-01
16,Mexico,MEX,MXN,20.90,9.410000,NaN,2000-04-01
17,New Zealand,NZL,NZD,3.40,2.010000,NaN,2000-04-01
18,Poland,POL,PLN,5.50,4.300000,NaN,2000-04-01
19,Russia,RUS,RUB,39.50,28.500000,NaN,2000-04-01
20,Singapore,SGP,SGD,3.20,1.700000,NaN,2000-04-01
21,South Africa,ZAF,ZAR,9.00,6.720000,NaN,2000-04-01
22,South Korea,KOR,KRW,3000.00,1108.000000,NaN,2000-04-01
23,Sweden,SWE,SEK,24.00,8.840000,NaN,2000-04-01
24,Switzerland,CHE,CHF,5.90,1.700000,NaN,2000-04-01
25,Taiwan,TWN,TWD,70.00,30.600000,NaN,2000-04-01
26,Thailand,THA,THB,55.00,38.000000,NaN,2000-04-01
27,United States,USA,USD,2.51,1.000000,NaN,2000-04-01
28,Argentina,ARG,ARS,2.50,1.000000,NaN,2001-04-01
29,Australia,AUS,AUD,3.00,1.980000,NaN,2001-04-01
...,...,...,...,...,...,...,...
1484,Latvia,LVA,EUR,2.85,0.892339,15652.61,2019-07-09
1485,Moldova,MDA,MDL,43.00,17.814200,2726.54,2019-07-09
1486,Mexico,MEX,MXN,50.00,18.895250,9376.99,2019-07-09
1487,Malaysia,MYS,MYR,8.85,4.142500,9827.67,2019-07-09
1488,Nicaragua,NIC,NIO,110.00,33.162100,2221.80,2019-07-09
1489,Netherlands,NLD,EUR,4.06,0.892339,48555.35,2019-07-09
1490,Norway,NOR,NOK,42.00,8.652750,75513.64,2019-07-09
1491,New Zealand,NZL,NZD,6.40,1.513432,41350.26,2019-07-09
1492,Oman,OMN,OMR,1.21,0.385000,17128.37,2019-07-09
1493,Pakistan,PAK,PKR,480.00,157.450000,1545.94,2019-07-09
1494,Peru,PER,PEN,10.50,3.286800,6728.09,2019-07-09
1495,Philippines,PHL,PHP,142.00,51.317500,2988.90,2019-07-09
1496,Poland,POL,PLN,10.80,3.807750,13867.61,2019-07-09
1497,Portugal,PRT,EUR,3.25,0.892339,21334.13,2019-07-09
1498,Qatar,QAT,QAR,13.00,3.641750,62826.06,2019-07-09
1499,Romania,ROU,RON,9.30,4.219200,10761.71,2019-07-09
1500,Russia,RUS,RUB,130.00,63.838750,10961.99,2019-07-09
1501,Saudi Arabia,SAU,SAR,13.00,3.750350,21153.21,2019-07-09
1502,Singapore,SGP,SGD,5.80,1.361300,59990.06,2019-07-09
1503,Slovakia,SVK,EUR,3.20,0.892339,17627.11,2019-07-09
1504,Slovenia,SVN,EUR,2.40,0.892339,23502.25,2019-07-09
1505,Sweden,SWE,SEK,51.00,9.475050,52924.37,2019-07-09
1506,Thailand,THA,THB,119.00,30.827500,6730.56,2019-07-09
1507,Turkey,TUR,TRY,13.99,5.722000,10537.19,2019-07-09
1508,Taiwan,TWN,TWD,72.00,31.172000,24389.68,2019-07-09
1509,Ukraine,UKR,UAH,57.00,25.647500,2655.94,2019-07-09
1510,Uruguay,URY,UYU,164.00,35.169500,16941.56,2019-07-09
1511,United States,USA,USD,5.74,1.000000,59895.00,2019-07-09
1512,Vietnam,VNM,VND,65000.00,23231.000000,2353.36,2019-07-09
1513,South Africa,ZAF,ZAR,31.00,14.175000,6182.25,2019-07-09

## Join

In [ ]:
#df.join(other, on=None, how=None)

## SQL

In [81]:
df.registerTempTable('bigmac')

In [86]:
sqlCtx.sql('select name, max(local_price) from bigmac group by name order by max(local_price) desc limit 10 ').show()

+-----------+----------------+
|       name|max(local_price)|
+-----------+----------------+
|     Turkey|       4000000.0|
|    Vietnam|         65000.0|
|  Indonesia|         35750.0|
|   Colombia|         11900.0|
|  Venezuela|         10950.0|
|    Lebanon|          6500.0|
|South Korea|          4500.0|
|      Chile|          2640.0|
| Costa Rica|          2290.0|
|    Hungary|           900.0|
+-----------+----------------+

## PySpark DataFrame Vs Pandas DataFrame

* Operation on Pyspark DataFrame run parallel on different nodes in cluster but, in case of pandas it is not possible.
* Operations in PySpark DataFrame are lazy in nature but, in case of pandas we get the result as soon as we apply any operation.
* In PySpark DataFrame, we can’t change the DataFrame due to it’s immutable property, we need to transform it. But in pandas it is not the case.
* Pandas API support more operations than PySpark DataFrame. Still pandas API is more powerful than Spark.
* Complex operations in pandas are easier to perform than Pyspark DataFrame